.nav-color-main {
	background-color: #e77c24;
}

.icon-decoration{
	color: white;
	font-size: 1rem;
}

.nav-link{
	color: white;
}

.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
 }

 .main{
	margin: 1%;
	padding-left: 20px;
	padding-right: 20px;
	background-color: wheat;
 }
 .div-decoration{
	margin-top: 1%;
	margin-bottom: 1%;
	padding: 20px;
	background: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.form-control {
	width:fit-content;
}

.custom_button {
    background-color: rgb(231, 123, 35);
    border-color: #e77b24;
}

.custom_button:hover {
    background-color: #873e23;
    border-color: #873e23;
}

.custom_button:checked {
    background-color: #873e23;
    border-color: #873e23;
}

.custom_button:focus {
    background-color: #873e23;
    border-color: #873e23;
    box-shadow: 0 0 0 0.25rem rgba(134, 61, 35,.25);
}

strong{
	color: #873e23;
}

h2{
	color: #873e23;
}

h3{
	color: #873e23;
}

body{
	background-color: #f5deb2
}

.container{
	padding: 20px;
}
.row{
	padding: 20px;
}
.offer{
	background:whitesmoke;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.readytotest{
	color: yellowgreen;
}

.modal{
	--bs-modal-width: 80%;
}

.parent {
	width: 80%;
	display: grid;
	grid-template-columns: 24% 19% 19% 19% 19%;
	grid-template-rows: 40% 50% 10%;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	margin: 2% auto;
	padding: 20px;
	background: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}
	
.photo{ 
	grid-area: 1 / 1 / 4 / 2;
	display: flex;
  	justify-content: center;
  	align-items: center; 
}
.photo img {
	max-width: 100%;
	height: auto;
  	border-radius: 20px;
  }
.title{ 
	grid-area: 1 / 2 / 2 / 6;
	display: flex;
  	justify-content:center;
  	align-items:center;
	  font-size:3vw; 
}
.price-pre{
	grid-area: 2 / 4 / 2 / 6;
	display: flex;
  	justify-content:end;
  	align-items:center;
	font-size:4vw;
	color: #e77c24;
	font-weight: bold;
}
.loc{ 
	grid-area: 3 / 2 / 3 / 3; 
	display: flex;
	justify-content:center;
	align-items:center;
	font-size:1.5vw;
}
.date{ 
	grid-area: 3 / 3 / 4 / 4; 
	display: flex;
	justify-content:center;
	align-items:center;
	font-size:1.5vw;
}
.fav{
	grid-area: 3 / 5 / 4 / 6; 
	display: flex;
	justify-content:end;
	align-items:center;
	font-size:5vw;
}
.icon-decoration-preview{
	color: #e77c24;
}

.profil-decoration{
	display: flex;
	justify-content:end;
	align-items:center;
}

.col-left{
	border-right-color: #873e23;
	border-right-style: double;
}

.row-decoration{
	border-color: #873e23;
	border-style: double;
	padding: 4px;
}

.categories-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 20px;
	justify-items: center;
  }

  .category-cell {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
  }

  .icon-circle {
	display: flex;
	justify-content: center;
	align-items: center;
	width:5vw;
	height:5vw;
	border-radius: 50%;
	background-color: #873e23;
  }

  .icon-color {
	color: white; /* Tutaj możesz zmienić kolor ikon */
	font-size: 3vw;
  }

.category-div{
	background-color: wheat; 
	border-bottom-style:double; 
	border-color: #873e23; 
	padding: 1%; 
}
.carousel-container {
    position: relative;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    height: 400px; /* ustalony wymiar dla galerii */
  }
  
  .carousel-slide {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .carousel-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin: auto;
    cursor: pointer;
  }
  
  .carousel-navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .carousel-navigation button {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .carousel-indicators-prime {
    text-align: center;
    margin-top: 10px;
  }
  
  .indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .indicator.active {
    background-color: white;
    border: 2px solid black;
  }
  
  /* Styl dla wyświetlania pełnowymiarowego obrazu */
  .fullscreen-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    overflow: hidden;
    display: none;
  }
  
  .fullscreen-image {
    max-width: 90%;
    max-height: 90%;
    cursor: pointer;
    object-fit: contain;
  }
  
  .fullscreen-navigation {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
  }
  
  .fullscreen-navigation button {
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
  }
  
  .fullscreen-indicators {
    text-align: center;
    margin-top: 10px;
    color: white;
    position: absolute;
    bottom: 10px;
    width: 100%;
  }
  
  .fullscreen-indicators .indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .fullscreen-indicators .indicator.active {
    background-color: white;
    border: 2px solid black;
  }
  
  .fullscreen-close {
    font-size: 24px;
    cursor: pointer;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
  }